# Logging configuration
# 50 CRITICAL
# 40 ERROR
# 30 WARNING
# 20 INFO
# 10 DEBUG
# 0  NOTSET
server.logging_level = "10"
#server.logging_filename = "/var/log/server.log"
server.logging_format = "%(asctime)s %(levelname)-7s [%(name)16s] %(message)s"

server.socket_host = "0.0.0.0"
server.socket_port = "9090"

# Tornado Web debugging
# debug = "yes"

# Don't actually do anything
# dry-run = "yes"

# Redmine API settings
redmine.url = ""
redmine.auth_key = ""

# Jenkins API settings
jenkins.url = ""
jenkins.username = ""
jenkins.password = ""

# Git users to Redmine users mappings
user.mapping.git-username = "redmine-username"

# Git repository to Jenkins job mappings
repository.mapping.git-user.git-repo = "jenkins-job-1", "jenkins-job-2"
